.grid-container-show {
  display: flex;
  flex-direction: column;
  margin:  auto 15rem 100px;
}

.detail-section-label {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 24px;
}

.detail-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid grey;
  padding-top:12px;
  padding-bottom: 12px;
}

.detail-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.detail-item-heading {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.detail-item-value {
  text-align: right;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 0px;
  border-radius: .4rem;
  position: absolute;
}

.video-info-container {
  margin: auto .5rem;
  max-width: 1000px;
}

@media (max-width: 1024px) {
  .grid-container-show {
    display: flex;
    flex-direction: column;
    margin: auto 1rem;
  }
}
