.sessions-new-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.sessions-new-container {
  width: 308px;
  height: 375px;
  background-color: rgb(246, 248, 250);
  border-radius: .5rem;
  border: 1px solid rgb(234, 236, 239);
}

.sessions-new-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  h1 {
    color: rgb(106, 115, 125);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin: 0;
  }
  h2 {
    color: rgb(36, 41, 46);
    font-size: 48px;
    font-weight: 500;
    margin: 0;
  }
}

.sessions-new-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: rgb(36, 41, 46);
  padding: 1rem;

  #remember_me {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #user_remember_me {
    width: 20px;
  }

  input {
    width: 266px;
    height: 32px;
    margin: .5rem;
    padding-left: .5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(225, 228, 232);

  }

  label {
    padding-left: 0.5rem;
  }

  p {
    color: rgb(88, 96, 105);
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    padding-left: 0.5rem;
  }

  .actions input {
    width: 266px;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color:rgb(46, 164, 79);
    margin-bottom: 15px;
  }

  a {
    color: rgb(3, 102, 214);
  }

}
