<body>
  <article id="39f13ffe-9082-466c-9a18-e8280b9f032d" class="static-page-about">
    <header>
      <h1 class="static-page-about-title">About</h1>
    </header>
    <div class="page-body">
      <h2 id="a41308dc-59bd-4cdc-9410-36c576f28c2a" class="">What is TangoTube? </h2>
      <p id="e66a0668-2601-446c-9fca-d984f5dcddbf" class="">A video platform for dancers by dancers. Searching for tango videos across the web can be a mess. TangoTube fixes this issue by curating, enriching, and organizing all the tango videos across youtube. Making it easier to search, discover and enjoy more tango content. </p>
      <h3 id="d939244c-1ec8-4cdf-9bca-1ceb0545552f" class="">How does it work?</h3>
      <p id="305300f4-67d8-41ba-97e6-6bbe680bb051" class="">TangoTube scans for new tango videos across the web and recognizes the dancers in the video, the performance song, event and location. This information is organized and reformatted so the viewer can see the critical information right up front when choosing which video to watch. </p>
      <p id="64d0e54f-0a89-433b-938c-4309d8a975db" class="">We apply a music recognition system which identifies the song in each tango video and categorizes it with our tango music database. This allows us to identify the correct genre of the music.</p>
      <p id="7db85f5b-2018-4ad1-b00f-da3f49e0f1b0" class="">By having a platform dedicated to tango specifically, we are able to better analyze the content viewers are interested in to make better recommendations to new videos.</p>
      <h3 id="cafe96cf-ae27-4e19-be31-c9e1097bbbb4" class="">How did it start?</h3>
      <p id="206db760-5ace-46a5-ab6e-ab53abfdd4fd" class="">The project during the COVID outbreak in March of 2020. A dancer started curating his own tango music library and started to discover a learn about tango music. He realized that the same level of organization would be great to have for youtube videos. Since then, this project has been a solo endeavor in order to create a better viewing experience for dancers across the world.</p>
      <h2 id="e138e98e-d7e9-4534-8b45-8304163d0422" class="">Shortcomings of YouTube</h2>
      <ul id="dc8a17f6-275b-4366-9aeb-7c789f3bd41b" class="bulleted-list">
        <li>Youtube recommends generic popular tango videos each time because it doesn&#x27;t know any better. This causes the viewer to watch the same videos over and over without discovering new content.</li>
      </ul>
      <ul id="98f7d953-5857-4d11-93e4-b5478e4d6eac" class="bulleted-list">
        <li>No consistency to the labeling and categorization of tango videos.</li>
      </ul>
      <ul id="fa1eb57a-bb66-44bb-bd55-067fc92f278b" class="bulleted-list">
        <li>Missing information in the title or description (song information, complete leader or follower name, or event info)</li>
      </ul>
      <ul id="c462a0c4-e2ef-44a0-a7d6-3e46f86f88dd" class="bulleted-list">
        <li>Low display density of videos (4 videos/page). Many maestros can have hundreds of videos which can take forever to actually search through.</li>
      </ul>
      <ul id="a9746dc3-4652-4de7-b9ba-ca3ea84c5e25" class="bulleted-list">
        <li>Search results are polluted with unrelated content.</li>
      </ul>
      <ul id="49a563c7-9996-43e2-88e6-5d0b19b06471" class="bulleted-list">
        <li>Search results show videos you have already watched first.</li>
      </ul>
      <ul id="07baa876-3121-491a-9c4f-6790bdb9b642" class="bulleted-list">
        <li>Search results have too much of a priority for newer results.</li>
      </ul>
      <ul id="558faeeb-e305-4afa-a401-c34dce3693a2" class="bulleted-list">
        <li>Sorting is severely limited. It&#x27;s not possible to sort by oldest video.</li>
      </ul>
      <ul id="d8d637dd-65f1-4c86-bcdd-2d93a5205664" class="bulleted-list">
        <li>Limited to search by keywords</li>
      </ul>
      <ul id="fee96935-830e-4796-b6d5-9e18911d6d26" class="bulleted-list">
        <li>All results mixed in with all of the other videos across the web.</li>
      </ul>
      <h2 id="a6805504-5ea5-4a37-9285-f1d4612900c0" class="">TangoTube Features</h2>
      <ul id="5a3294c8-12c8-445f-9122-2a54541b7c27" class="bulleted-list">
        <li>Column Browser ( Filtering by genre, leader, follower, orchestra, song title)</li>
      </ul>
      <ul id="dc0d3d59-6424-4544-a5cd-052e679bd013" class="bulleted-list">
        <li>Recommendations to new discover new videos you haven&#x27;t watched before</li>
      </ul>
      <ul id="f0614dea-7055-4d26-aad8-dd94963684a2" class="bulleted-list">
        <li>Tango specific autocomplete results </li>
      </ul>
      <ul id="b179981a-d362-4e1c-bb32-c48243135edc" class="bulleted-list">
        <li>Standardized way of presenting video information</li>
      </ul>
      <ul id="9c593b3a-e561-42c4-864f-61ac7c129eb6" class="bulleted-list">
        <li>High density of video results</li>
      </ul>
      <ul id="4dd3e52c-1f61-4aae-ad1b-af95aca8af29" class="bulleted-list">
        <li>Ability to view song lyrics from the viewing area</li>
      </ul>
      <h2 id="762ac7a0-8de6-4032-944d-13f2df9d0169" class="">Feature TangoTube Features</h2>
      <ul id="76c7e817-088c-42c2-8a87-98f681dfb964" class="bulleted-list">
        <li>Ability to create highlights of your favorite performance moments.</li>
      </ul>
      <ul id="7e739295-f63e-4e96-a508-a48a44e44c25" class="bulleted-list">
        <li>Searchable practice library</li>
      </ul>
      <ul id="cfb0eeb7-25a6-4a6c-8207-2b10a412f9f8" class="bulleted-list">
        <li>Share your highlight snippets with other&#x27;s</li>
      </ul>
      <ul id="0230d610-0b74-41e0-b0ca-2ec92cc4ed57" class="bulleted-list">
        <li>Search for practice content by tag name (walking, giros, sacadas, barridas, chains)</li>
      </ul>
      <ul id="210ec818-e570-425d-909e-e12493abd01c" class="bulleted-list">
        <li>Ability to search by performance at a specific event and year</li>
      </ul>
      <ul id="d9d46d13-e975-44a9-80dd-94c23c7d0cb3" class="bulleted-list">
        <li>Plug in with Spotify and other major music platforms</li>
      </ul>
    </div>
  </article>
</body>

</html>
