<div id="header">
  <%= render 'shared/header' %>
</div>

<div class="static-page-contact">
  <h1>Contact me</h1>

  <p>
    Thanks for your interest in contacting me. If you have question about the project, have feature requests,
    or have bugs to report I would love to hear from you.
  </p>

  <a href = "mailto: jmarsh24@gmail.com">Get In Touch</a>
</div>
