<div class="attribute-row">
  <div class="attribute-label">
    <%= f.label id %>
  </div>
  <div class="attribute-value">
    <%= f.select params_name, [],
                              {},
                              { data: { controller: "slimselect-edit",
                                        'slimselect-url': url,
                                        'slimselect-data-value': value }, id: id, class: 'select-edit' } %>
  </div>
</div>
