<div class="attribute-row">
  <div class="attribute-label">
    <%= f.label id %>
  </div>
  <div class="attribute-value">
    <%= f.select params_name, [],
                              {},
                              { data: { controller: "slimselect",
                                        'slimselect-target': 'field',
                                        'slimselect-url': url }, id: id } %>
  </div>
</div>
