<div class="video-info-lyrics">
  <div class="detail-row-lyrics">
    <div class="detail-item-heading-lyrics">
      <h4>Lyrics</h4>
    </div>
    <div class="detail-column-lyrics">
      <%= simple_format(@video.song.lyrics.to_s.titleize) %>
    </div>
  </div>
</div>
