<div class="filter_item" data-controller='select2' data-toggle-target="toggleable">
<label>
<%= title.to_s.titleize %>
</label>
  <%= select_tag title.to_s,
        options_for_select([["Select All #{title.to_s.titleize}", "all"]] + model,
          params[title.to_s].presence || "all"),
            class: "content-search",
            data: { action: "filter#filter", "filter-target": "filter" } %>
</div>
