<div class="header">

  <%= link_to "TangoTube", root_path, id: "logo" %>

  <%= render "videos/index/search" %>

  <nav>
  <ul>
    <li><%= link_to "Sign Up", '' %></li>
  </ul>
  <ul>
    <li><%= link_to "Login", '' %></li>
  </ul>
  </nav>

</div>
