<div class="loadMoreContainer">
  <div class="loadMoreResults">
    <%= "Displaying #{@videos_paginated_size} / #{@videos.size} Results" %>
  </div>
  <% unless @videos.paginate(page + 1, 32).empty?  %>
    <button class="load-more-link" data-action='click->loadmore#loadMore' data-loadmore-page-value="<%= page %>" >
    Load More
    </button>
  <% end %>
</div>
