<div class="loadMoreContainer">
  <div class="loadMoreResults">
    <%= "Displaying #{@items_display_count} / #{number_with_delimiter(@videos.size)} Results" %>
  </div>
  <% unless @next_page_items.empty?  %>
    <%= button_to "Load More", videos_path(page: @page + 1), { class: "load-more-link", method: "get" } %>
  <% end %>
</div>
