
<div class="load-more-container">
  <div class="load-more-results">
    <%= "Displaying #{@search.displayed_videos_count} / #{number_with_delimiter(@search.videos.size)} Results" %>
  </div>
  <% if @search.next_page.any? %>
    <%= link_to "Load More", video_query_params.merge(page: @page + 1), class: "load-more-link" %>
  <% end %>
</div>
