<form class="search_bar" action="/videos">
  <input  type="text" 
          name="q"
          placeholder="Search by Song, Leader, Follower" 
          value="<%= params[:q] %>" >
</form>

<%= form_tag root_path, method: :get do %>
<%= text_field_tag :q, params[:q] %>
<% end %>