.registrations-new-body {
  display: flex;
  align-items: center;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
}

.registrations-new-container {
  display: flex;
  flex-direction: column;
  width: 308px;
  background: rgb(246, 248, 250);
  border-radius: 0.5rem;
  border: 1px solid rgb(234, 236, 239);
}

.registrations-new-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 308px;
  background: rgb(246, 248, 250);

  h1 {
    color: #707070;
    margin: 0;
  }
  h2 {
    color: #707070;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
  }
  h3 {
    font-size: 1.1rem;
    font-weight: 100;
  }
}

.registrations-new-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  input {
    width: 266px;
    height: 32px;
    margin: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(225, 228, 232);
  }
  label {
    padding-left: 0.5rem;
    color: #707070;
    font-size: 0.8rem;
    font-weight: 400;
  }
  p {
    color: #707070;
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    padding-left: 0.5rem;
  }
  .actions input {
    width: 266px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #1d77f5;
    cursor: pointer;
  }
}
