.registrations-new-body {
  display: flex;
  justify-content: center;
  height: 100%;
}

.registrations-new-container {
  width: 768px;
  margin: 64px auto;
}

.registrations-new-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  h1 {
    color: rgb(106, 115, 125);
    margin: 0;
  }
  h2 {
  color: rgb(71, 71, 71);
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  }
}

.registrations-new-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: rgb(36, 41, 46);
  input {
    width: 400px;
    height: 32px;
    margin: .5rem;
    padding-left: .5rem;
    border-radius: .3rem;
    border: 1px solid rgb(225, 228, 232);
  }
  label {
    padding-left: .5rem;
  }
  p {
    color: rgb(88, 96, 105);
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    padding-left: .5rem;
  }
  .actions input{
    width: 400px;
    height: 55px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: #1074e7;;
  }
}
