$primary-color: #ffffff;
$secondary-color: #f9f9f9;

$primary-font-color: rgb(80, 80, 80);
$secondary-font-color: white;

$sortable-label-color: rgb(50, 50, 50);
$sortable-label-color-hover: rgb(3, 3, 3);
$sortable-border-bottom-color: rgba(0, 0, 0, 0.1);

$link-color: rgb(6, 95, 212);

$border-color: #f2f2f2;
$border-color-secondary: #e2e2e2;
$button-color: #c2c2c2;

$button-primary-background-color: #ffffff;
$button-primary-background-color-hover: #c2c2c2;

$filter-border-color: #e8e8e8;
$logo-hover-color: #3d3d3d;

$search-bar-font-color: rgb(17, 17, 17);
$search-bar-button-color: rgb(248, 248, 248);
$search-bar-button-color-hover: rgb(240, 240, 240);
$search-bar-focus-color: #719ECE;

$placeholder-font-color: rgb(17, 17, 17);

$nav-link-color-hover: #222222;

$primary-header-background: #e8e8e8;
$primary-header-link-color: #ffffff;

$secondary-header-background: #4a4a4a;
$secondary-header-link-color: #ffffff;
$secondary-header-link-color-hover: #c2c2c2;

$show-video-background:black;

$show-primary-title: #333;
$show-primary-song: rgb(97, 97, 97);
$show-primary-song-hover: rgb(3, 3, 3);
$show-primary-channel-title:#555;
$show-primary-channel-title-hover: #111;
$show-primary-video-event: rgb(97, 97, 97);
$show-primary-video-event-hover: rgb(3, 3, 3);

$video-info-details-heading: rgb(96, 96, 96);
$video-info-details-value: rgb(96, 96, 96);

$ss-search-background: #f9f9f9;
$ss-search-background-focus: #5897fb;
