#mastHeadContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: $primary-color;
  z-index: 1012;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .upperHeadContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: $secondary-header-background;
  padding: 5px 2.5em;
  font-size: .8rem;
  a {
    margin: 0 .5rem;
    color: $secondary-header-link-color;
    &:hover {
      color: $secondary-header-link-color-hover;
    }
  }
}

  .lowerHeadContainer {
    flex: 1;
    width: 100%;
    display: flex;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    padding: 0 2.5em;
  }

  .buttonSideBar {
    display: none;
  }

  button:not(.searchButton) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
  }

  .logoContainer {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    a {
      font-size: 24px;
      color: black;
      letter-spacing: -1px;
      font-weight: bold;

      &:hover {
        color: $logo-hover-color;
      }
    }
  }

  .autocompleteContainer {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
  }

  .searchBarContainer {
    margin: 0 40px;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .searchBar {
      flex: 1;
      width: 100%;
      color: $placeholder-font-color;
      height: 30px;
      padding: 4px 10px;
      border: 1px solid $border-color;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
      font-size: 14px;
      line-height: 24px;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;

      &:focus {
        outline: none;
        border: 1px solid $search-bar-focus-color;
      }

      input {
        color: $placeholder-font-color;
        margin: 2px 4px;
        padding: 1px;
      }
    }

    .searchButton {
      height: 30px;
      font-size: .8rem;
      background-color: $search-bar-button-color;
      border: 1px solid $border-color;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      cursor: pointer;
      width: 55px;
      &:hover {
        background-color: $search-bar-button-color-hover;
      }
    }
  }

  nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  nav#Login{
    font-size: 0.8rem;
  }

  .navbar-link {
    display: flex;
    padding: 5px;
    font-size: 0.8rem;
    text-decoration: none;
  }

  .navbar-link#sign-up {
    display: flex;
    border: 1px solid;
    border-radius: 0.2em;
    padding: 0.4em;
    margin: 0 0 0 .5em;
    &:hover {
      color: $nav-link-color-hover;
      border-color: $nav-link-color-hover;
    }
  }
}

.static-pages-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 14px;
    margin-right: 2rem;
    &:hover {
      color: $nav-link-color-hover;
    }
  }
}

@media (max-width: 500px) {
  .buttonSideBar {
    display: none;
  }

  nav#Login {
    display: none;
  }

  #mastHeadContainer {
    margin: 0;
    height: 50px;

    .logoContainer {
      flex: 1;
      a {
        font-size: 20px;
        padding: 10px;
      }
    }

    .upperHeadContainer {
      display: none;
    }

    .autocompleteContainer {
      flex: 4;
      margin: 0;

      .searchBarContainer {
        margin: 0 0 0 20px;
        min-width: 100px;
      }
    }
  }
}
