.channels-index-container {
  display: flex;
  flex-direction: column;
  margin: 64px auto;
  width: 900px;
  align-items: center;
  justify-content: center;
}

.channel-form {
  display: flex;
  margin-bottom: 50px;
  font-size: 2rem;

  input {
    margin: auto .5rem;
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    border-radius: .2rem;
    font-size: 1rem;
    background: white;
    cursor: pointer;

    &:hover {
      background: #f9f9f9;
    }

    &:active {
      background: #f2f2f2;
    }
  }
}

.channels-index-row {
  display: flex;
  padding-bottom: 1rem;
}

.channels-index-item {
  width: 300px;
  border-bottom: 1px solid #f2f2f2;
}

#id.channels-index-item {
  width: 80px;
}
