<div class="container">
  <div id="youtube_video">
    <div class="iframe-container">
      <iframe scrolling="no"
              src="https://www.youtube.com/embed/<%= @active_youtube_id %>" 
              allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
