<h1>Tango Library</h1>

<% index = 0 %>
<% @videos.each do |video| %>
  <% break if index > 3 %>
  <%  index += 0 %>
  <div>
    <b>Title: </b>
    <%= video.title %>
    <br><br>
  </div>
  <div>
    <b>Description: </b>
    <%= video.description %>
    <br><br>
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% end %>
