  <h2>Add Video</h2>
  <%= form_with model: Video.new, local: true, class: 'video-form' do |f| %>
    youtube.com/watch?v=
    <%= f.text_field :youtube_id, placeholder: 'insert video id here...'%>
    <%= f.submit "Add New Video" %>
  <% end %>
