        <% if flash[:notice] %>
          <div class="notice alert-info"><%= notice %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-warning" role="alert"><%= alert %></div>
        <% end %>
