<footer class="footer">

  <% if @pagy.count > 0 %>
  <div>
      <table>
          <p><%= @pagy.count %> Results Found</p>
      </table>
  </div>
  <div>
      <table>
          <%== pagy_nav @pagy %>
      </table>
  </div>
  <% end %>
  <div>
      <table>
          <small>
              The Tango Library App
              by Justin Marsh
          </small>
      </table>
  </div>
</footer>