<footer class="footer">

    <% if @pagy.count > 0 %>
    <p class="lead"><%= @pagy.count %> Results Found</p>
    <%== pagy_nav @pagy %>
    <% end %>

    <small>
        The Tango Library App
        by Justin Marsh
    </small>
</footer>