<header>
    <div>
            <%
=begin%>
 <nav>
                <ul>
                    <li><%= link_to "Sign Up", '' %></li>
                </ul>
                <ul>
                    <li><%= link_to "Login", '' %></li>
                </ul>
            </nav> 
<%
=end%>
            <%= link_to "TangoTube", root_path, id: "logo" %> 
    </div>
</header>