<header>
    <div>
        <%= link_to "Tango Library", root_path, id: "logo" %> 
            <nav>
                <ul>
                    <li><%= link_to "Profile", '#' %></li>
                </ul>
                <ul>
                    <li><%= link_to "Settings", '#' %></li>
                </ul>
                <ul>
                    <li><%= link_to "Log in", '#' %></li>
                </ul>
            </nav>
    </div>
</header>