<div class= "side-menu">
    <h2>Your Library</h2>
    <br>
    <h2>Browse</h2>
    <br>
    <h2>Featured Videos</h2>
    <br>
    <h2>Recently Played</h2>
    <br>
    <h2>Recommended Videos</h2>
    <br>
    <h2>Favorited Videos</h2>
    <br>
    <h2>Playlists</h2>
    <br>    
    <h3>Favorite Tango</h3>
    <h3>Favorite Milonga</h3>
    <h3>Favorite Vals</h3>
    <h3>Favorite Alternative</h3>
    <h3>Interviews</h3>
    <h3>Classes</h3>
    <h2>New playlist</h2>
    <br><br><br><br><br>
    <h2>Friends</h2>
    <br>
    <h3>Justin</h3>
    <h3>Carlos</h3>
    <h3>Noelia</h3>
    <h3>Jonathan</h3>
    <h3>Clarissa</h3>
    <h3>Murat</h3>
</div>