<div class= "side-menu">

<%= render "shared/search" %>

    <%
=begin%>
 <h2>Your Library</h2>
    <br>
    <h2>Recently Played</h2>
    <br>
    <h2>Recommended Videos</h2>
    <br>
    <h2>Favorited Videos</h2>
    <br>
    <h2>Playlists</h2>
    <br>    
    <h3>Favorite Tango</h3>
    <h3>Favorite Milonga</h3>
    <h3>Favorite Vals</h3>
    <h3>Favorite Alternative</h3>
    <h3>Interviews</h3>
    <h3>Classes</h3>
    <h2>New playlist</h2> 
<%
=end%>

</div>