<div id="youtube_video">
    <div class="iframe-container">
        <p align="center">
            <iframe scrolling="no"
                    onload="resizeIframe(this)"
                    src="https://www.youtube.com/embed/<% if params[:youtube_id].nil? %><%= 's6iptZdCcG0' %><% else %><%= params[:youtube_id] %><% end %>"
                    allow= "accelerometer;
                            autoplay;
                            encrypted-media;
                            gyroscope;
                            picture-in-picture" allowfullscreen>
            </iframe>
        </p>
    </div>
</div>