<div class="container">
  <div id="youtube_video">
    <div class="iframe-container">
      <iframe scrolling="no" 
              src="https://www.youtube.com/embed/<%= @active_video_url %>" 
              allow="accelerometer;
                     autoplay;
                     encrypted-media;
                     gyroscope;
                     picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>