<!DOCTYPE html>
<html>
<head>
  <title>Tango Library</title>
</head>

<%# <body>
  <div class="wrapper">
  <div class="one">one</div>
  <div class="two">two</div>
  <div class="three">three</div>
  <div class="four">four</div>
  <div class="five">five</div>
  <div class="six">six</div>
  <div class="seven">seven</div>
  <div class="eight">eight</div>
  </div>
  </body>
  </html> %>

<body>
  <div class="wrapper">
  <div class="one">
    <center><h1>Tango Library</h1></center>
  </div>

  <div class="two">
    <div class="iframe-container">
      <p align=center><iframe scrolling="no" onload="resizeIframe(this)" 
      src="https://www.youtube.com/embed/s6iptZdCcG0" 
      allow="accelerometer; 
            autoplay; 
            encrypted-media; 
            gyroscope; 
            picture-in-picture" 
            allowfullscreen></iframe>
      </p>
    </div>
  </div>

  <div id="tableContainer" class="four">

    <table border="0" cellpadding="0" cellspacing="0" 
                      width="100%" class="scrollTable">
      <thead>
        <tr>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Performance</td>
          </tr>
          <tr>
            <td>Class</td>
          </tr>
          <tr>
            <td>Short</td>
          </tr>
          <tr>
            <td>Interview</td>
          </tr>
          <tr>
            <td>Documentary</td>
          </tr>
          <tr>
            <td>Vlog</td>
          </tr>
      </tbody>
    </table>
</div>

<div id="tableContainer" class="five">
    <table border="0" cellpadding="0" cellspacing="0" 
                      width="100%" class="scrollTable">
      <thead>
        <tr>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tango</td>
          </tr>
          <tr>
          <td>Milonga</td>
          </tr>
          <tr>
          <td>Vals</td>
          </tr>
          <tr>
          <td>Alternative</td>
          </tr>
      </tbody>
    </table>
    </div>

<div id="tableContainer" class="six">
  <table border="0" cellpadding="0" cellspacing="0" 
                      width="100%" class="scrollTable">
    <thead>
      <tr>
        <th>Leader</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jonathan Saavedra</td>
        </tr>
        <tr>
        <td>Juan Martin</td>
        </tr>
        <tr>
        <td>Esref Tekinalp</td>
        </tr>
        <tr>
        <td>Andres Sautel</td>
        </tr>
        <tr>
        <td>Michael Nadtochi</td>
        </tr>
        <tr>
        <td>Sebastian Achaval</td>
        </tr>
        <tr>
        <td>Horacio Godoy</td>
        </tr>
        <tr>
        <td>Joachim Dietiker</td>
        </tr>
        <tr>
        <td>Gianpiero Galdi</td>
        </tr>
        <tr>
        <td>Ismael Ludman</td>
        </tr>
        <tr>
        <td>Ricardo Biggeri</td>
      </tr>
    </tbody>
  </table>
  </div>

<div id="tableContainer" class="seven">
  <table border="0" cellpadding="0" cellspacing="0" 
                      width="100%" class="scrollTable">
    <thead>
      <tr>
        <th>Follower</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Stefania Martin</td>
        </tr>
        <tr>
        <td>Clarissa Aragon</td>
        </tr>
        <tr>
        <td>Vanessa Gauch</td>
        </tr>
        <tr>
        <td>Celeste Medina</td>
        </tr>
        <tr>
        <td>Eleonora Kalganova</td>
        </tr>
        <tr>
        <td>Juana Sepúlveda</td>
        </tr>
        <tr>
        <td>Roxana Suarez</td>
        </tr>
        <tr>
        <td>Cecilia Berra</td>
        </tr>
        <tr>
        <td>Michelle Marsidi</td>
        </tr>
        <tr>
        <td>Maria Filali</td>
        </tr>
        <tr>
        <td>Mariana Montes</td>
        </tr>
        <tr>
        <td>Natalia Ochoa</td>
        </tr>
        <tr>
        <td>Cecilia Piccinni</td>
      </tr>
    </tbody>
  </table>
  </div>

<div id="tableContainer" class="eight">
  <table border="0" cellpadding="0" cellspacing="0" 
                      width="100%" class="scrollTable">
    <thead>
      <tr>
        <th>Event</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bucharest Tango Groove</td>
        </tr>
        <tr>
        <td>Milongero Nights</td>
        </tr>
        <tr>
        <td>Embrace Berlic</td>
        </tr>
        <tr>
        <td>Mediterranean Summer Tango Festival</td>
        </tr>
        <td>TangoLovers Festival</td>
        <tr>
        <td>La Viruta Tango Club: Berlin</td>
        </tr>
        <tr>
        <td>Tango Tage Halle</td>
        </tr>
        <tr>
        <td>Mala Junta, Berlin</td>
        </tr>
        <tr>
        <td>NOU Berlin</td>
        </tr>
        <tr>
        <td>Tango Jam Hamburg</td>
        </tr>
        <tr>
        <td>Łódź Tango Salon Festival</td>
        </tr>
        <tr>
        <td>Brussels Tango Festival</td>
        </tr><tr>
        <td>Lyon Tango Festival</td>
        </tr>
        <tr>
        <td>La Viruta Tango Club Berlin</td>
        </tr>
  </tbody>
  </table>
  </div>

  <div id="tableContainer" class="three">
    <table border="0" cellpadding="0" cellspacing="0" 
                      width="100%" class="scrollTable">
      <thead class="fixedHeader">
          <th>Type</th>
          <th>Leader</th>
          <th>Follower</th>
          <th>Year</th>
          <th>Event</th>
          <th>Song</th>
          <th>Orchestra</th>
      </thead>
      <tbody class="scrollContent">
        <tr>
          <td>Short</td>
          <td>Juan Martin</td>
          <td>Stefania Martin</td>
          <td>3-18-2018</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Jonathan Saavedra</td>
          <td>Clarissa Aragon</td>
          <td>6-15-2019</td>
          <td>Embrace Berlin</td>
          <td>Chique</td>
          <td>Osvaldo Pugliese</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Jonathan Saavedra</td>
          <td>Clarissa Aragon</td>
          <td>6-15-2019</td>
          <td>Embrace Berlin</td>
          <td>Patético</td>
          <td>Tango Bardo</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Esref Tekinalp</td>
          <td>Vanessa Gauch</td>
          <td>11-02-2018</td>
          <td>TangoLovers Festival</td>
          <td>Se dice de mí</td>
          <td>Quinteto Pirincho</td>
        </tr>
        <tr>
          <td>Quinteto Pirincho</td>
          <td>Andres Sautel</td>
          <td>Celeste Medina</td>
          <td>11-12-2019</td>
          <td>La Viruta Tango Club: Berlin</td>
          <td>Uno</td>
          <td>Anibal Troilo</td>
        </tr>
        <tr>
          <td>Michael Nadtochi</td>
          <td>Eleonora Kalganova</td>
          <td>Tango Tage Halle</td>
          <td>4-10-2018</td>
          <td>Mais</td>
          <td>Oro y gris</td>
          <td>Mariano Mores</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Michael Nadtochi</td>
          <td>Eleonora Kalganova</td>
          <td>4-11-2018</td>
          <td>Mala Junta, Berlin</td>
          <td>Catamarca</td>
          <td>Carlos di Sarli</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Juan Martin Carrara</td>
          <td>Stefania Colina</td>
          <td>11-25-2018</td>
          <td>NOU Berlin</td>
          <td>La mendiga</td>
          <td>Ariel Ardit</td>
        </tr>
        <tr>
          <td>Short</td>
          <td></td>
          <td></td>
          <td>1-28-2019</td>
          <td>Tango Jam Hamburg</td>
          <td>Este Es el Rey</td>
          <td>Juan D'Arienzo</td>
        </tr>
        <tr>
          <td>Short</td>
          <td>Juan Martin</td>
          <td>Stefania Martin</td>
          <td>11-28-2018</td>
          <td>Łódź Tango Salon Festival</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Carlitos Espinoza</td>
          <td>Juana Sepúlveda</td>
          <td>6-1-2016</td>
          <td>Brussels Tango Festival</td>
          <td>Temo</td>
          <td>Orquesta Típica Victor</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Sebastian Achaval</td>
          <td>Roxana Suarez</td>
          <td>3-13-2018</td>
          <td>Lyon Tango Festival</td>
          <td>Loca</td>
          <td>Solo Tango Orquesta</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Horacio Godoy</td>
          <td>Cecilia Berra</td>
          <td>11-11-2019</td>
          <td>La Viruta Tango Club</td>
          <td>Milongón</td>
          <td>Alberto Arenas</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Sebastian Achaval</td>
          <td>Roxana Suarez</td>
          <td>6-6-2019</td>
          <td>Lisbon Tango Festival</td>
          <td>El choclo</td>
          <td>Carlos Di Sarli</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Joachim Dietiker</td>
          <td>Michelle Marsidi</td>
          <td>4-2-2019</td>
          <td>TangoFest Dresden</td>
          <td>Oblivion</td>
          <td>Solo Tango Orquesta</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Jonathan Saavedra</td>
          <td>Clarisa Aragon </td>
          <td>11-11-2019</td>
          <td>Les Intanguptibles </td>
          <td>Milonga antigua</td>
          <td>Miguel Caló</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Jonathan Saavedra</td>
          <td>Clarisa Aragon</td>
          <td>12-11-2019</td>
          <td>Les Intanguptibles</td>
          <td>Les Intanguptibles</td>
          <td>Miguel Caló</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Gianpiero Galdi</td>
          <td>Maria Filali</td>
          <td>11-6-2018</td>
          <td>WinterTangoNapoli</td>
          <td>Milonga Para as Missões</td>
          <td>Gilberto Monteiro</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Sebastian Arce</td>
          <td>Mariana Montes</td>
          <td>11-24-2009</td>
          <td>MoscowTangoFest - 'Milonguero Nights'</td>
          <td>Milonga Criolla</td>
          <td>Francisco Canaro</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Ismael Ludman</td>
          <td>Natalia Ochoa</td>
          <td>11-20-2019</td>
          <td>Roma Tango Festival</td>
          <td>Barro</td>
          <td>Osvaldo Pugliese</td>
        </tr>
        <tr>
          <td>Performance</td>
          <td>Ricardo Biggeri</td>
          <td>Cecilia Piccinni</td>
          <td>1-23-2020</td>
          <td>Tango Alchemie</td>
          <td>Maipo</td>
          <td>Juan D'Arienzo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
