.filter-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: $secondary-color;
}

.filter-container-button-results {
  display: flex;
  flex-direction: row;
}

.filter-hd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-button {
  display: flex;
  text-decoration: none;
  padding: 6px;
  border: 1px solid $border-color;
  background: $primary-color;
  border-radius: 3px;
  letter-spacing: 0.05em;
  align-items: center;
  font-size: 0.8rem;
  z-index: 1011;
  cursor: pointer;
  svg {
    height: 15px;
  }
}

#filter-button-text {
  font-size: 0.85rem;
  margin: 0 0 0 8px;
}

#filter_results {
  display: flex;
  font-size: 0.8rem;
  margin: 0 10px;
  color: $primary-font-color;
  align-items: center;
  justify-content: center;
}

.filter-hd-button {
  display: flex;
  text-decoration: none;
  margin: 0 0 0 0.5em;
  padding: 7px;
  border: 1px solid $border-color;
  background: $primary-color;
  border-radius: 0.2em;
  align-items: center;
  letter-spacing: 0.05em;
  font-size: 0.7rem;
  z-index: 1011;
  cursor: pointer;
  &:hover {
    color: $sortable-label-color-hover;
  }
}

.filter-container {
  display: flex;
  flex-direction: column;
  max-width: 1900px;
  height: 325px;
  overflow-x: auto;
  padding: 0 32px;
  margin-bottom: 0.5rem;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  #form-frame {
    flex: 1;
    display: flex;
    form {
      flex: 1;
      display: flex;
    }
  }

  .filter {
    flex: 1;
    width: 100%;
    position: relative;
    top: -10px;
    min-width: 200px;
    margin: 0 8px;
    font-size: 0.8rem;
    label {
      display: block;
      text-align: center;
      font-weight: 500;
      font-size: 0.8rem;
      padding: 0 0 8px 0;
    }
  }
}

.filter-container-upper {
  display: flex;
  height: 100%;
  height: 272.5px;
}


.videos-sortable-container {
  display: flex;
  height: 2rem;
  font-size: .7rem;
  align-items: center;
  padding: 0 1em;
  margin: 5px 0;
  min-width: 1000px;
  label {
    font-size: .9rem;
    font-weight: 500;
    min-width: 50px;
    color: $sortable-label-color;
  }

  a {
    text-decoration: none;
    color: $primary-font-color;
    font-size: .8rem;
    text-align: center;
    min-width: 100px;
    &:hover {
      color: $sortable-label-color-hover;
    }
  }
}

.videos-sortable-button {
  display: flex;
  color: $primary-color;
  justify-content: center;
  font-size: .8rem;
  margin: 0 5px;
  min-width: 100px;
  svg {
    font-size: .7rem;
    color: $sortable-label-color;
  }
}

@media (max-width: 500px) {

  .filter-header {
    padding: 10px;
  }

  .filter-container {
    height: 315px;
    overflow-x: auto;
    margin-bottom: 0;
    padding: 0 5px;
    .filter {
      min-width: 190px;
      margin: 0 6px;
      font-size: .85rem;
    }
  }

  .videos-sortable-container {
    min-width: 700px;
    a {
      min-width: 80px;
    }
  }
  .videos-sortable-button {
    margin: 0 10px;
    min-width: 80px;
  }
}
