.filter-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: $secondary-color;
}

.filter-container-button-results {
  display: flex;
  flex-direction: row;
}

.filter-hd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-button {
  display: flex;
  text-decoration: none;
  padding: .5em;
  border: 1px solid $border-color;
  background: $primary-color;
  border-radius: 3px;
  letter-spacing: 0.05em;
  align-items: center;
  font-size: .6rem;
  z-index: 1011;
}

#filter-button-text {
  font-size: .85rem;
  margin: 0 0 0 8px;
}

#filter_results {
  display: flex;
  font-size: .8rem;
  margin: 0 10px;
  color: $primary-font-color;
  align-items: center;
  justify-content: center;
}

.filter-hd-button {
  display: flex;
  text-decoration: none;
  margin: 0 0 0 0.5em;
  padding: .5rem;
  border: 1px solid $border-color;
  background: $primary-color;
  border-radius: 0.2em;
  align-items: center;
  letter-spacing: 0.05em;
  font-size: 0.7rem;
  z-index: 1011;
}

.filter-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1900px;
  height: 300px;
  padding: 0 2em;
  margin-bottom: .5em;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color;

  #form-frame {
    flex: 1;
    display: flex;
    form {
      flex: 1;
      display: flex;
    }
  }

  .filter {
    flex: 1;
    width: 100%;
    position: relative;
    top: -10px;
    min-width:120px;
    margin: 0 8px;
    font-size: .8rem;
    label {
      display: block;
      text-align: center;
      font-weight: 500;
      font-size: .8rem;
      padding: 0 0 8px 0;
    }
  }
}

.filter-container-upper {
  flex: 1;
  display: flex;
  flex: row;
}

.videos-sortable-container {
  display: flex;
  flex-direction: row;
  height: 2rem;
  font-size: .7rem;
  align-items: center;
  padding: 0 1em;

  label {
    font-size: .9rem;
    font-weight: 500;
    margin: auto 0;
    color: $sortable-label-color;
  }

  a {
    text-decoration: none;
    color: $primary-font-color;
    font-size: .8rem;
    &:hover {
      color: $sortable-label-color-hover;
    }
  }
}

.videos-sortable-button {
  display: flex;
  color: $primary-color;
  justify-content: center;
  font-size: .8rem;
  margin: 0 16px;
  min-width: 60px;
  svg {
    font-size: .7rem;
    color: $sortable-label-color;
  }
}

@media (max-width: 500px) {

  .filter_item {
    display: none;
  }

  .filter-header {
    display: none;
  }

  .filter-container {
    display: none;
  }
}
