.load-more-link {
  display: block;
  padding: 20px 0;
  color: #0c3869;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: #e8f0fa;
  }
}

@media (max-width: 800px) {

  .load-more-link {
    display: block;
    padding: 50px 0;
    font-size: 20px;
    color: #0c3869;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: #e8f0fa;
    }
  }
}
