.load-more-link {
  display: block;
  padding: 20px 0;
  border: 0px solid black;
  background-color: #d8e3f0;
  color: #0c3869;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: #e8f0fa;
  }
}

@media (max-width: 1000px) {

  .load-more-link {
    display: block;
    padding: 100px 0;
    font-size: 40px;
    border: 1px;
    color: #0c3869;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: #e8f0fa;
    }
  }
}
