.load-more-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: $secondary-color;
}

.load-more-results {
  flex: 1;
  margin: 0 auto;
  color: rgb(96, 96, 96);
  font-size: 0.9rem;
}

.load-more-container {
  padding: 30px 0;
}

.load-more-link {
  color: $primary-font-color;
  font-size: 0.9rem;
  background-color: white;
  border: 1px solid $border-color-secondary;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 180px;
  padding: 10px;
  margin: 15px auto;
  &:hover {
    background-color: $border-color-secondary;
  }
  .loading-animation {
    font-size: 0.35rem;
  }
}

@media (max-width: 500px) {
  .load-more-container {
    padding: 20px 0 0 0;
  }

  .load-more-results {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .load-more-link {
    width: 150px;
    margin: 0 auto 20px auto;
    padding: auto 0;
    font-size: 14px;
  }
}
