.content-search {
  width: 100% !important;
  color: white !important;
}

.select2-selection__arrow b {
  display: none !important;
}

.select2-dropdown--below {
  top: -1.55rem; /*your input height*/
}

.select2-container--default .select2-results > .select2-results__options {
  min-height: 200px;
  overscroll-behavior-y: contain !important;
}

.select-dropdown {
  position: static;
  border-radius: 0px !important;
  color: rgb(153, 153, 153) !important;
}
.select-dropdown .select-dropdown--above {
  margin-top: 336px;
}

.select2-container *:focus {
  outline-offset: -2px;
  outline-width: 0px !important;
}

.select2-results__option:hover {
  background: none !important;
  color: rgb(153, 153, 153) !important; /*text highlight color*/
}

.select2-results__option--highlighted {
  background: none !important;
  color: rgb(3,3,3) !important;
}

.select2-results__option--highlighted[aria-selected='true'] {
  background: $primary-color !important;
  color: white !important;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  background: $primary-color !important;
  color: white !important;
}

.select2-container--open {
  z-index: 0 !important;
}

.select2-search__field {
  border-radius: 0.25rem !important;
}
