.videos-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  max-width: 1900px;
  margin: 0 auto;
}

.filter_results {
  font-size: 1rem;
}

// .videos-sortable-container {
//   display: none;
// }
