.video {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 70px;
  border-bottom: 1px solid #c2c2c2;
  text-decoration: none;
  transition: 500ms all ease;
  padding-top: 7px;
  padding-bottom: 5px;
  &:nth-child(even) {
    background-color: #f8f9fa;
  }
  &:hover {
    background-color: #dfe0e1;
  }
  &:active {
    background-color: #3b7bbb;
  }
}
