hr {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
  border-bottom: 1px solid #ccc;
}

a.active {
  background-color: #e8f0fa;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  &:hover {
    background-color: #e8f0fa;
  }
  &:nth-child(even) {
    background-color: #e8f0fa;
  }
}
