.videos-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;

  a {
    text-decoration: none;
  }
}

.video-thumbnails {
  width: 8%;
  min-width: 110px;
  img {
    width: 90px;
    height: auto;
  }
}
.video-videotypes {
  width: 5%;
}
.video-titles {
  width: 10%;
  min-width: 80px;
}
.video-artists {
  width: 10%;
  min-width: 80px;
}
.video-leaders {
  width: 10%;
  min-width: 80px;
}
.video-followers {
  width: 10%;
  min-width: 80px;
}
.video-events {
  width: 12%;
  min-width: 80px;
}

@media (max-width: 1000px) {
  .video-artists,
  .video-genres,
  .video-view_counts,
  .video-events
   {
    display: none;
  }
}
.video-genres {
  width: 5%;
  min-width: 80px;
}
.video-channels {
  width: 10%;
  min-width: 80px;
}
.video-view_counts {
  width: 10%;
  min-width: 80px;
}
.video-upload_dates {
  width: 9%;
  min-width: 80px;
}