.videos-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  font-weight: bold;
}

.video-videotypes {
  width: 5%;
}
.video-thumbnails {
  width: 8%;
  img {
    width: 90px;
    height: auto;
  }
}
.video-titles {
  width: 10%
}
.video-artists {
  width: 10%;
}
.video-leaders {
  width: 10%;
}
.video-followers {
  width: 10%;
}
.video-events {
  width: 12%;
}

@media (max-width: 700px) {
  .video-genres,
  .video-view_counts,
  .video-upload_dates
   {
    display: none;
  }
}
.video-genres {
  width: 5%;
}
.video-channels {
  width: 10%;
}
.video-view_counts {
  width: 10%;
}
.video-upload_dates {
  width: 9%;
}
.video-scrollbar-width{
  width: 1%;
}
