.footer {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  color: rgb(88, 96, 105);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.footerContainer{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 893px;
}

.footerTitle {
  flex: 1;
  text-align: center;
}

.footer nav {
  flex: 1;
  justify-content: center;
  ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  li {
    display: flex;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

    a {
    display: flex;
    text-decoration: none;
  }

    a:hover {
    text-decoration: underline;
    color: rgb(3, 102, 214);
  }

}
