.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  clear: both;
  position: relative;
  height: 100px;
  margin-top: -50px;
  a {
    color: rgb(96, 96, 96);
  }
}

.footerTitle {
  flex: 1;
  text-align: center;
  color: rgb(96, 96, 96);
}

.footer nav {
  flex: 1;
  justify-content: center;
  ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  li {
    display: flex;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

    a {
    display: flex;
    text-decoration: none;
  }

    a:hover {
    text-decoration: underline;
    color: rgb(3, 102, 214);
  }

}
