.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 12px;
  width: 100%;
  background-color: rgb(247, 250, 252);
  border-top: 1px solid rgb(226, 232, 240);
  a {
    color: rgb(50, 50, 50);
  }
}

.footerTitle {
  flex: 1;
  text-align: center;
  color: rgb(99, 99, 99);
}

.footer nav {
  flex: 1;
  justify-content: center;
  ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    margin: .5rem 0;
  }

  li {
    display: flex;
    text-decoration: none;
    padding: .1rem 0.25rem;
  }
}

.primary-links {
  a {
    display: flex;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: rgb(3, 102, 214);
  }
}

.secondary-links {
  a {
    display: flex;
    text-decoration: none;
    color: rgb(197, 197, 197);
  }

  a:hover {
    text-decoration: none;
    color: rgb(151, 151, 151);
  }
}

@media (max-width: 500px) {
  .footer {
    padding-top: 5px;
  }
  
  .footerTitle {
    padding-top: 5px;
  }
}
