    <% if value.present? %>
    <div class="detail-row">
      <div class="detail-column">
        <div class="detail-item-heading">
          <%= header %>
        </div>
      </div>
      <div class="detail-column">
        <div class="detail-item-value">
          <%= value %>
        </div>
      </div>
    </div>
    <% end %>
