.video-info-lyrics {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 320px;
  padding: 0 .5rem;
  margin: 1rem auto;
}

.detail-row-lyrics {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  max-width: 300px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  padding: 0 1rem;
}

.detail-column-lyrics {
  flex: 1;
  margin: 0 2rem;
  line-height: 1.5rem;
}
