.video-info-lyrics {
  flex: 1;
  border: 1px solid $border-color;
  background-color: $secondary-color;
  margin: .5em .5em;
  text-align: center;
  line-height: 1.5em;
  min-width: 300px;
}

@media (max-width: 926px) {
  .video-info-lyrics {
    margin: 0;
  }
}