.grid-container-show {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  min-width: 300px;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: center;
}

.video-responsive-background {
  flex: 1;
  background-color: black;
}

.video-responsive-container {
  width: 100%;
  max-width: 1060px; //set your `max-width` here
  max-height: auto; //necessary to keep proportion
  margin: 0 auto; //centering
}

.video-responsive {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;
}

.video-info-container-details {
  display: flex;
  flex-direction: row;
}

.video-info-container-secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-info-details-secondary {
  flex: 1;
}

.recommended-videos-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  // max-width: 350px;
  padding: .5rem 1rem 5rem 1rem;
  margin: 0 auto;

}

.detail-row-lyrics {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.detail-column-lyrics {
  flex: 1;
  margin: 0 2rem;
  line-height: 1.5rem;
}


@media (max-width: 926px) {
  .grid-container-show {
    display: flex;
    flex-direction: column;
  }
  .video-responsive iframe {
    border-radius: 0;
  }
}
