 $show-video-width: 1300px;

.video-responsive-container {
  width: 100%;
  max-width: $show-video-width;
  max-height: auto; //necessary to keep proportion
  margin: 0 auto; //centering
}

.video-responsive-background {
  background-color: $show-video-background;
}

.video-responsive {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-info-container {
  display: flex;
  max-width: $show-video-width;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  background-color: white;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.video-info-primary-container {
  max-width: $show-video-width;
  text-align: left;
  margin: 1em;
}

.video-info-container-secondary {
  display: flex;
  justify-content: space-between;
  max-width: $show-video-width;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 .5em;
}

.video-info-details-main {
  flex: 1;
  margin: 0 .5em;
  flex-direction: column;
  a {
    color: $link-color;
    font-size: 0.8rem;
  }
  p {
    line-height: 1.2rem;
  }
}

.recommended-videos-section {
  flex: 1;
  margin: 0 .5em;
  flex-direction: column;
  max-width: 400px;
  min-width: 320px;
}

@media (max-width: 926px) {
  .grid-container-show {
    display: flex;
    flex-direction: column;
  }

  .video-responsive iframe {
    border-radius: 0;
  }

  .video-info-primary-container {
    margin: .5em .5em;
  }

  .video-info-details-main {
    min-width: 300px;
  }

  .video-info-container {
    margin: 0;
  }

  .video-info-details-main {
    margin: .5rem;
    padding: 0;
  }

  .recommended-videos-section {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}
