$max-container-width: 1060px;

.video-responsive-container {
  width: 100%;
  max-width: $max-container-width; //set your `max-width` here
  max-height: auto; //necessary to keep proportion
  margin: 0 auto; //centering
}

.video-responsive-background {
  background-color: $show-video-background;
}

.video-responsive {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-info-container {
  display: flex;
  max-width: $max-container-width;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em 1em 0 1em;
  justify-content: center;
  background-color: white;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.video-info-primary-container {
  max-width: 1225px;
  text-align: left;
}

.video-info-container-secondary {
  display: flex;
  justify-content: center;
  max-width: 1225px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video-info-details-main {
  min-width: 275px;
  max-width: 350px;
  flex-direction: column;
  a {
    color: $link-color;
    font-size: 0.8rem;
  }
  p {
    line-height: 1.2rem;
  }
}

.recommended-videos-section {
  flex: 1;
  flex-direction: column;
  max-width: 320px;
  min-width: 250px;
}

@media (max-width: 926px) {
  .grid-container-show {
    display: flex;
    flex-direction: column;
  }

  .video-responsive iframe {
    border-radius: 0;
  }

  .video-info-primary-container {
    margin: .5rem .5rem;
  }

  .video-info-details-main {
    min-width: 300px;
  }

  .video-info-container {
    margin: 0;
  }

  .video-info-details-main {
    margin: .5rem;
    padding: 0;
  }

  .recommended-videos-section {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}
