.show-video-title {
  text-decoration: none;
  font-size: inherit;
  color: $show-primary-title;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.2em 0;
}

.show-video-song {
  font-size: 1rem;
  text-decoration: none;

  a {
    font-size: 1rem;
    text-decoration: none;
    color: $show-primary-song;

    &:hover {
      color: $show-primary-song-hover;
    }
  }
}

.show-channel-icon {
  margin: 0.2em 0.5em 0 0.2em;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.show-channel-title {
  font-size: 0.8rem;
  color: $show-primary-channel-title;
}

.show-video-channel {
  display: flex;
  align-items: center;
  font-size: 1rem;
  a {
    margin-bottom: 0.1em;
    text-decoration: none;
    transition: color 150ms;
    color: $show-primary-channel-title;
  }

  a:hover {
    color: $show-primary-channel-title-hover;
  }
}

.show-video-metadata {
  color: $show-primary-channel-title;
  font-size: 0.7rem;
}

.show-video-event {
  font-size: 1rem;
  text-decoration: none;
  margin: 3px 0;
  a {
    font-size: 1rem;
    text-decoration: none;
    color: $show-primary-video-event;

    &:hover {
      color: $show-primary-video-event-hover;
    }
  }
}
