/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* resposive iframe */
.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
  
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     top: 0;
     position: absolute;
     width: 100%;
  }
  
  /* 4x3 Aspect Ratio */
  .iframe-container-4x3 {
    padding-top: 75%;
  }
  
  
  
  * {box-sizing: border-box;}
  
      .wrapper {
          max-width: 1024px;
          margin: 0 auto;
          font: 1.2em Helvetica, arial, sans-serif;
      }
  
      .wrapper > * {
          border: 0px solid #f08c00;
          padding: 0px;
      }
  
      nav ul {
          list-style: none;
          margin: 0;
          padding: 0;
      }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 0px;
  }
  .wrapper > * {
    grid-column: col-start / span 12;
  }
  // @media (min-width: 500px) {
  
  //   .side {
  //     grid-column: col-start / span 3;
  //     grid-row: 3;
  //   }
  //   .content, .main-footer {
  //     grid-column: col-start 4 / span 9;
  //   }
  //   nav ul {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  // }
  @media (min-width: 700px) {
     .main-head {
      grid-column: col-start 3 / span 10;
      grid-row: 0 / 1;
      }
    .main-nav {
      grid-column: col-start 3 / span 10;
      grid-row: 0 / 3;
    }
    .content {
      grid-column: col-start 3 / span 10;
      grid-row: 3 / 5;
    }
    .side {
      grid-column: col-start 1 / span 2;
      grid-row: 1 / 5;
      background:#f2f2f2;
      padding: 20px;
      text-align: left;
    }
    .main-footer {
      grid-column: col-start / span 12;
    }
    nav ul {
      flex-direction: column;
    }
  }
  
  
  
  // /* Grid Layout */
  // .wrapper {
  //   display: grid;
  //   grid-template-columns: repeat(8, 1fr);
  //   grid-template-rows: repeat(8, 110px);
  //   grid-column-gap: 0px;
  //   grid-row-gap: 0px;
  //   max-width: 1500px;
  // }
  // #one {
  //   grid-row: 1 / 2 ;
  //   grid-column: 2 / 8 ;
  // }
  // #two {
  //   grid-row: 2 / 5 ;
  //   grid-column: 2 / 8 ;
  // }
  // #three {
  //   grid-row: 7 / 8 ;
  //   grid-column: 2 / 8 ;
  // }
  // #four {
  //   grid-row: 5 / 7 ;
  //   grid-column: 2 / 3 ;
  // }
  // #five {
  //   grid-row: 5 / 7 ;
  //   grid-column: 3 / 4 ;
  // }
  // #six {
  //   grid-row: 5 / 7 ;
  //   grid-column: 4 / 5 ;
  // }
  // #seven {
  //   grid-row: 5 / 7 ;
  //   grid-column: 5 / 6 ;
  // }
  // #eight {
  //   grid-row: 5 / 7 ;
  //   grid-column: 6 / 7 ;
  // }
  // #nine {
  //   grid-row: 5 / 7 ;
  //   grid-column: 7 / 8 ;
  // }
  
  /* start basic styling */
  
  body {
      background: #FFF;
      color: #000;
      font: normal normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
      margin: 10px;
  }
  
  table, td, a {
      color: #000;
      font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif
  }
  
  h1 {
      font: normal normal 40px Verdana, Geneva, Arial, Helvetica, sans-serif;
      margin: 0 0 5px 0
  }
  
  h2 {
      font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
      margin: 0 0 5px 0
  }
  
  h3 {
      font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
      color: #777777;
      margin: 0 0 15px 0
  }
  /* end basic styling                                 */
  
  /* define height and width of scrollable area. Add 16px to width for scrollbar          */
  div.tableContainer {
      clear: both;
      border: 0px solid #963;
      height: 626px;
      overflow: hidden;
      width: 100%
  }
  
  /* Reset overflow value to hidden for all non-IE browsers. */
  html>body div.tableContainer {
      overflow: hidden;
      width: 100%
  }
  
  /* define width of table. IE browsers only                 */
  div.tableContainer table {
      float: left;
      /* width: 740px */
  }
  
  /* define width of table. Add 16px to width for scrollbar.           */
  /* All other non-IE browsers.                                        */
  html>body div.tableContainer table {
      /* width: 756px */
  }
  
  /* set table header to a fixed position. WinIE 6.x only                                       */
  /* In WinIE 6.x, any element with a position property set to relative and is a child of       */
  /* an element that has an overflow property set, the relative value translates into fixed.    */
  /* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
  
  thead.fixedHeader tr {
      position: relative;
  }
  
  /* set THEAD element to have block level attributes. All other non-IE browsers            */
  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
  
  /* make the TH elements pretty */
  thead.fixedHeader th {
      background: #FFFFFF;
      border-left: 1px solid #F2F2F2;
      border-right: 1px solid #F2F2F2;
      border-top: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2;
      font-weight: normal;
      padding: 4px 3px;
      text-align: left
  }
  
  html>body tbody.scrollContent {
    display: block;
      height: 600px;
      overflow: auto;
      table-layout:fixed;
      width: 100%
  }
  
  html>body thead.fixedHeader {
    display: table;
    table-layout: fixed;
      overflow: auto;
      width: 100%
  }
  /* Remove underline from links */
  html>body tbody.scrollContent a:link{
      text-decoration: none;
  }
  
  /* make TD elements pretty. Provide alternating classes for striping the table */
  /* http://www.alistapart.com/articles/zebratables/                             */
  tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
      background: #f2f2f2;
      border-bottom: none;
      border-left: none;
      border-right: 0px solid #CCC;
      border-top: 0px solid #DDD;
      padding: 2px 3px 3px 4px
  }
  
  
  tbody.scrollContent tr.alternateRow td {
      background: #ffffff;
      border-bottom: none;
      border-left: none;
      border-right: 0px solid #CCC;
      border-top: 0px solid #DDD;
      padding: 2px 3px 3px 4px
  }
  
  /* Highlight Element */
  tbody.scrollContent tr:hover td{
      background:#2465D9;
      color:#FFFFFF;	
          a {
              color:#ffffff;
          }		  
  }
  
  /* Make entire row clickable */
  tbody.scrollContent td a {
      display:block;
  }
  
  /* Arrow toggle for headings */
  .scrollTable th .current {
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position: right;
    }
    
  .scrollTable th .asc {
      background-image: url(/assets/up_arrow.png);
      background-size: 10px 10px;
      font-weight:bold;
    }
    
  .scrollTable th .desc {
      background-image: url(/assets/down_arrow.png);
      background-size: 10px 10px;
      font-weight: bold;
    }
  
  /* remove underline */
  .scrollTable a:link{
      text-decoration: none;
  }
  
  
  
  // ----------------------------------------------- 
  
  //* define height and width of scrollable area. Add 16px to width for scrollbar          */
  div.tableContainerFilter {
      clear: both;
      border: 0px solid #963;
      height: 215px;
      overflow: auto;
      width: 100%
  }
  
  /* Reset overflow value to hidden for all non-IE browsers. */
  html>body div.tableContainerFilter {
      overflow: hidden;
      width: 138px
  }
  
  /* define width of table. IE browsers only                 */
  div.tableContainerFilter table {
      float: left;
      /* width: 740px */
  }
  
  /* define width of table. Add 16px to width for scrollbar.           */
  /* All other non-IE browsers.                                        */
  html>body div.tableContainerFilter table {
      /* width: 756px */
  }
  
  /* set table header to a fixed position. WinIE 6.x only                                       */
  /* In WinIE 6.x, any element with a position property set to relative and is a child of       */
  /* an element that has an overflow property set, the relative value translates into fixed.    */
  /* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
  
  thead.fixedHeaderFilter tr {
      position: relative;
  }
  
  /* set THEAD element to have block level attributes. All other non-IE browsers            */
  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
  
  /* make the TH elements pretty */
  thead.fixedHeaderFilter th {
      background: #FFFFFF;
      border-left: 1px solid #F2F2F2;
      border-right: 1px solid #F2F2F2;
      border-top: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2;
      font-weight: 600;
      padding: 4px 3px;
      text-align: left
  }
  
  html>body tbody.scrollContentFilter {
    display: block;
      height: 190px;
      overflow: auto;
      table-layout:fixed;
      width: 100%
  }
  tbody.scrollContentFilter td{
  padding-top: 3px;
  padding-bottom: 3px;
  }
  
  html>body thead.fixedHeaderFilter {
    display: table;
    table-layout: fixed;
      overflow: auto;
      width: 100%
  }
  /* Highlight Element */
  tbody.scrollContentFilter tr:hover td{
      background:#2465D9;
       color:#FFFFFF;
  }