.hidden {
  display: block;
}

.hidden.show {
  display: none;
}

.filter_button {
  padding:10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

.filter_container {
  border: 0px solid #963;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

 .filter_item {
  flex: 1;
  width: 100%;
  min-width: 180px;
  margin: 0 5px 0 5px;
  border: 0px solid #963;
  padding-bottom: 10px;
    label {
      display:block;
      text-align: center;
      color: black;
      font-weight: 600;
    }
  }
}

.select-css {
  display: block;
  color: #444;
  width:100%;
  height: 200px;
  box-sizing: border-box;
  line-height: normal;
  margin: 0;
  border: 1px solid #aaa;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  overscroll-behavior-y: none;
}

@media (max-width: 1300px) {
  .filter_item{
    max-width: 250px;
  }
}