.footer {
  border: 0px solid #963;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  div {
    border: 0px solid #963;
    flex: 1; /*grow*/
    flex-wrap: wrap;
    flex-direction: row;
  }
}