.footer {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  color: rgb(88, 96, 105);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.footer-nav nav ul {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-nav nav li {
  display: flex;
  text-decoration: none;
  padding-left: .5rem;
  padding-right: .5rem;
}


.footer-nav nav a{
  display:flex;
  text-decoration: none;
}

.footer-nav nav a:hover {
  text-decoration: underline;
  color: rgb(3, 102, 214);
}
