.header {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: space-between;
height: 50px;
border: 0px solid orange;
}

#logo {
  display: block;
  font-size: 1.5em;
  color: black;
  letter-spacing: -1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: #3d3d3d;
    text-decoration: none;
  }
}  

nav ul {
list-style: row;
margin: 0px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
  a{
    font-size: .2em;
  }
}
