  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    overscroll-behavior: contain;
    top: 0;
    z-index: 1;
    background:white;
  }

  #logo {
    font-size: 1.5rem;
    color: black;
    letter-spacing: -1px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #3d3d3d;
      text-decoration: none;
    }
  }

.search_bar {
  display: flex;
  flex-grow: 1;
  margin: 0 2rem 0 4rem;
}

.search-input {
  width: 100%;
  font-size: inherit;
  padding: 0.4em;
  border: 1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #777;
  background-color: #f8f8f8;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #f0f0f0;
}

nav ul {
  display: flex;
  list-style: row;
  margin: 0px;
  a {
    font-size: 1em;
    text-decoration: none;
  }

}
