.videos-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;

  a {
    text-decoration: none;
    &.current{
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 12px;
    }
    &.asc{
      background-image: url(up_arrow.png);
    }

    &.desc{
      background-image: url(down_arrow.png);
    }
} 
}

.video-thumbnails {
  width: 10%;
  min-width: 220px;
  padding-left:10px;
  img {
    width: 200px;
    height: auto;
    border-radius: 3px;
  }
}
.video-videotypes {
  width: 9%;
  min-width: 80px;
  padding: 0px 10px 0px 10px;
}
.video-titles {
  width: 9%;
  min-width: 80px;
  padding: 0px 10px 0px 10px;
}
.video-artists {
  width: 9%;
  min-width: 80px;
  padding: 0px 10px 0px 10px;
}
.video-genres {
  width: 5%;
  min-width: 80px;
  padding: 0px 10px 0px 10px;
}
.video-leaders {
  width: 9%;
  min-width: 100px;
  padding: 0px 10px 0px 10px;
}
.video-followers {
  width: 9%;
  min-width: 100px;
  padding: 0px 10px 0px 10px;
}
.video-events {
  width: 10%;
  min-width: 80px;
  padding: 0px 10px 0px 10px;
}
.video-channels {
  width: 10%;
  min-width: 150px;
  padding: 0px 10px 0px 10px;
}
.video-view_counts {
  width: 9%;
  min-width: 100px;
  padding: 0px 10px 0px 10px;
}
.video-upload_date {
  width: 10%;
  min-width: 150px;
  padding: 0px 10px 0px 10px;
}

@media (max-width: 1000px) {
  .video-genres,
  .video-view_counts,
  .video-events,
  .video-videotypes,
  .video-channels
   {
    display: none;
  }


  .video-thumbnails {
    width: 25%;
    min-width: 220px;
    padding-left:10px;
    img {
      width: 200px;
      height: auto;
      border-radius: 3px;
    }
  }

  .video-titles {
    width: 15%;
    min-width: 130px;
    padding: 0px 10px 0px 10px;
  }
  .video-artists {
    width: 15%;
    min-width: 110px;
    padding: 0px 10px 0px 10px;
  }
  .video-leaders {
    width: 15%;
    min-width: 110px;
    padding: 0px 10px 0px 10px;
  }
  .video-followers {
    width: 15%;
    min-width: 110px;
    padding: 0px 10px 0px 10px;
  }

  .video-genres {
    width: 5%;
    min-width: 80px;
  }
  .video-channels {
    width: 10%;
    min-width: 120px;
  }
  .video-view_counts {
    width: 10%;
    min-width: 80px;
  }
  .video-upload_dates {
    width: 20%;
    min-width: 150px;
  }
}

.is-hidden  {
  display:none;
}