.videos-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;

  a {
    text-decoration: none;
    &.current {
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 12px;
    }
    &.asc {
      background-image: url(up_arrow.png);
    }

    &.desc {
      background-image: url(down_arrow.png);
    }
  }
}

.video-thumbnails {
  min-width: 220px;
  padding-left: 10px;
  img {
    width: 200px;
    height: auto;
    border-radius: 3px;
  }
}
// .video-videotypes {
//   text-align: left;
//   min-width: 80px;
//   padding: 0px 10px 0px 10px;
// }
.video-titles {
  min-width: 120px;
  padding: 0px 10px 0px 10px;
}
.video-artists {
  min-width: 120px;
  padding: 0px 10px 0px 10px;
}
.video-genres {
  min-width: 120px;
  padding: 0px 10px 0px 10px;
}
.video-leaders {
  min-width: 120px;
  padding: 0px 10px 0px 10px;
}
.video-followers {
  min-width: 120px;
  padding: 0px 10px 0px 10px;
}
.video-events {
  min-width: 120px;
  padding: 0px 10px 0px 10px;
}
.video-channels {
  min-width: 100px;
  padding: 0px 10px 0px 10px;
}
.video-view_counts {
  min-width: 120px;
  padding: 0px 10px 0px 10px;
}
.video-upload_date {
  min-width: 120px;
  padding: 0px 10px 0px 10px;
}

@media (max-width: 1000px) {
  .video-genres,
  .video-view_counts,
  .video-events,
  .video-videotypes,
  .video-channels {
    display: none;
  }

  .video-thumbnails {
    width: 25%;
    min-width: 220px;
    padding-left: 10px;
    img {
      width: 200px;
      height: auto;
      border-radius: 3px;
    }
  }

  .video-titles {
    min-width: 130px;
    padding: 0px 10px 0px 10px;
  }
  .video-artists {
    min-width: 110px;
    padding: 0px 10px 0px 10px;
  }
  .video-leaders {
    min-width: 110px;
    padding: 0px 10px 0px 10px;
  }
  .video-followers {
    min-width: 110px;
    padding: 0px 10px 0px 10px;
  }

  .video-genres {
    min-width: 80px;
  }
  .video-channels {
    min-width: 120px;
  }
  .video-view_counts {
    min-width: 80px;
  }
  .video-upload_dates {
    min-width: 150px;
  }
}

.is-hidden {
  display: none;
}
