@media (min-width: 800px) {
  .videos-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: left;
    padding: 10px 10px;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;

    a {
      text-decoration: none;
      svg{
      font-size: 0.8em;
      }
      &.current{
      font-weight:800;
      }
    }
  }

  .desktop-details {
    width: 100%;
  }

  .mobile-details {
    display: none;
  }

  .video-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .thumbnail{
    padding: 5px 10px 5px 10px;
    img {
      width: 200px;
      height: auto;
      border-radius: 3px;
    }
  }

  .video-thumbnail {
    min-width: 240px;
  }
  .video-title-song {
    width:10%;
    margin: auto 0;
    min-width: 70px;
    padding: 0px 10px 0px 10px;

  }
  .video-artist {
    width: 10%;
    margin: auto 0;
    min-width: 80px;
    padding: 0px 10px 0px 10px;
  }
  .video-genre {
    width: 10%;
    margin: auto 0;
    min-width: 50px;
    padding: 0px 10px 0px 10px;
  }
  .video-leader {
    width: 10%;
    margin: auto 0;
    min-width: 30px;
    padding: 0px 10px 0px 10px;
  }
  .video-follower {
    width: 10%;
    margin: auto 0;
    min-width: 30px;
    padding: 0px 10px 0px 10px;
  }
  .video-channel-name{
    width: 10%;
    margin: auto 0;
    min-width: 80px;
    padding: 0px 10px 0px 10px;
  }
  .video-view_count {
    width: 10%;
    margin: auto 0;
    min-width: 50px;
    padding: 0px 10px 0px 10px;
  }
  .video-upload_date {
    width: 10%;
    margin: auto 0;
    min-width: 80px;
    padding: 0px 10px 0px 10px;
  }

}

@media (max-width: 800px) {

  #headers {
    display: none;
  }

  .desktop-details {
    display: none;
  }

  .video-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .mobile-details {
    width: 100%;
    height: 100%;
  }

  .video-bottom-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .filter-results {
    display:none;
  }

  .thumbnail {
    position: relative;
    display: flex;
    z-index: 0;
    background-color: #AAA;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
  }

  .video-title-song {
  min-width: 130px;
  padding: 0px 10px 0px 10px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  text-decoration: none;
  color: black;
  position: absolute;
}

  .channel-icon {
  margin-right: 0.75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaa;
  }

  .video-artist {
    min-width: 110px;
    color: #555;
    padding: 0px 10px 0px 10px;
    font-size: .9rem;
    margin-bottom: 0.3rem;
  }

  .video-dancers{
    min-width: 110px;
    color: #555;
    font-size: 0.9rem;
    padding: 0px 10px 0px 10px;
    margin-bottom: 0.2rem;
  }

  .video-channel-name {
    margin-bottom: 0.1rem;
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    transition: color 150ms;
    &:hover {
      color: #111;
    }
  }

  .video-channel-name{
    min-width: 80px;
    color: #555;
    padding: 0px 10px 0px 10px;
  }
  .video-metadata {
    min-width: 110px;
    color: #555;
    font-size: 0.9rem;
    padding: 0px 10px 0px 10px;
  }

}
