/* Start of grid formatting */

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  min-width: 600px;
  margin: 0 auto;
}

.wrapper > * {
  border: 0px solid #f08c00;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 0px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

.main-header {
  grid-column: col-start 1 / span 12;
  grid-row: 1 / 2;
}
.hero-video {
  grid-column: col-start 4 / span 6;
  grid-row: 2 / 3;
}
.details {
  grid-column: col-start 10 / span 3;
  grid-row: 2 / 3;
}
.content {
  grid-column: col-start 1 / span 12;
  grid-row: 3 / 5;
}

@media (max-width: 1300px) {
  .main-header {
    grid-column: col-start 1 / span 12;
    grid-row: 1 / 2;
  }
  .hero-video {
    grid-column: col-start 1 / span 12;
    grid-row: 2 / 3;
  }
  .details {
    grid-column: col-start 1 / span 12;
    grid-row: 3 / 4;
  }
  .content {
    grid-column: col-start 1 / span 12;
    grid-row: 4 / 5;
  }
  .footer {
    grid-column: col-start 1 / span 10;
    grid-row: 5 / 6;
  }
}
  
