/* Start of grid formatting */

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  min-width: 600px;
  margin: auto 50px;
}

.wrapper > * {
  border: 0px solid #f08c00;
}

.content {
  grid-column: col-start 1 / span 12;
  grid-row: 1 / 3;
}

.footer {
  grid-column: col-start 1 / span 12;
}


@media (max-width: 1300px) {

  .content {
    grid-column: col-start 1 / span 12;
    grid-row: 4 / 5;
  }

  .footer {
    grid-column: col-start 1 / span 12;
    grid-row: 5 / 6;
  }
}
