/* Main table */

/* define height and width of scrollable area. Add 16px to width for scrollbar */

.scrollTableContainer {
  max-height: 430px;
  width: 100%;
  overflow-y: scroll;
}

.scrollTable {
  table-layout: fixed;
  display: table;
  width: 100%;
  height: 430px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  border-collapse: collapse;
  overscroll-behavior: auto contain;
}
  /* Column widths are based on these cells */
.row-thumbnails {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}
.row-titles {
  width: 10%;
}
.row-artists {
  width: 10%;
}
.row-leaders {
  width: 10%;
}
.row-followers {
  width: 10%;
}
.row-events {
  width: 10%;
}
.row-videotypes {
  width: 5%;
}
.row-genres {
  width: 5%;
}
.row-channels {
  width: 10%;
}
.row-view_counts {
  width: 10%;
}
.row-upload_dates {
  width: 10%;
}
.row-scrollbar-width{
  width: 14px;
}

.scrollTableHeader {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background: white;
  border-collapse: collapse;
}
.scrollTableHeader th {
  border: 0px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  padding: 4px 3px;
}

/* Arrow toggle for headings */
.scrollTableHeader th .current {
  width: 100%;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: right;
}

.scrollTableHeader th .asc {
  background-image: url(/assets/up_arrow.png);
  background-size: 10px 10px;
  font-weight: bold;
}

.scrollTableHeader th .desc {
  background-image: url(/assets/down_arrow.png);
  background-size: 10px 10px;
  font-weight: bold;
}

/* remove underline */
.scrollTableHeader a:link {
  text-decoration: none;
}
.scrollTableHeader a:hover {
  color: #c2c2c2;
}

.scrollTable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollTable td,
.scrollTable th {
  border: 0px solid #c2c2c2;
  text-align: left;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #c2c2c2;
}

/* Make entire row clickable */
.scrollTable tr a {
  display: block;
}

/* remove underline */
.scrollTable a:link {
  text-decoration: none;
}
.scrollTable a:hover {
  color: #c9c9c9;
}

.thumbnail {
  border-radius: 5px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}