$search-height: 30px;

.search_bar {


  .search_icon{
    position: relative;
    float: left;
    top: 22px;
    left: 9px;
    color: #CCC;
  }

  .input { 
    min-width:500px;
    text-indent: 22px;
    height: $search-height;
    border: 1px solid grey;
    border-radius: #{$search-height / 5};
    transition: 0.3s all ease;

    &:focus {
      outline: none; 
      border-radius: 5px;  /* Your border radius here */
      box-shadow: 0px 0px 0px 2px #308af1,
    }
  }
}

@media (max-width: 1300px) {
  .search_bar.input {
    min-width: 250px;
    max-width: 550px;
  }
}