$search-height: 30px;

.search_bar {
  align-content: center;
  padding-top: 5px;
  padding-bottom: 30px;
  input {
    width: 100%;
    height: $search-height;
    outline-width: 2;
    border: 1px solid grey;
    border-radius: #{$search-height / 2};
  }
}
