$search-height: 30px;

.search_bar {
  align-content: center;
  padding-bottom: 30px;
  input {
    width: 100%;
    height: $search-height;
    border: 1px solid grey;
    border-radius: #{$search-height / 5};
    padding: 0 #{$search-height / 5};
    transition: 0.3s all ease;
    &:focus {
      outline: none; 
      border-radius: 5px;  /* Your border radius here */
      box-shadow: 0px 0px 0px 2px #1970d2,
    }

  }
}
