.side {
  align-content: center;
  height: 100%;
}

.side-menu {
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
  width: 250px;
  background: #f9f9f9;
  padding: 30px;
  text-align: left;
  align-content: center;
}
