  /* Side menu */

  #logo {
    display: block;
    font-size: 2.2em;
    color: black;
    letter-spacing: -1px;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: none;
  }

  .main-header{
    
  }

  input, textarea, select, button {
    width: 100%;
    max-width: 220px;
    min-width: 180px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .side {
    align-content: center;
    height: 100%;
  }

    .side-menu {
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    width:  250px;
    background:#f9f9f9;
    padding: 30px;
    text-align: left;
    align-content: center;
  }