.ss-main .ss-single-selected,
.ss-main .ss-multi-selected {
  min-height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
}

.ss-main .ss-multi-selected .ss-add {
  margin: 13px 12px 0 5px;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
  background-color: #f7f7f9;
  padding: 6px 10px;
}

.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-text {
  color: #657072;
}

.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
  padding-left: 3px;
  color: #bc3c35;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:hover {
  color: #657072;
  background-color: #58b7c1;
}
