.details {
  display: flex;
  flex-flow: row nowrap;
  flex-flow: wrap;
  justify-content: space-between;
  max-width:960px;
  margin: 0 auto;
}
.video_title_description {
  padding-top:10px;
  padding-right:20px;
  align-items: left;
  display: inline-flex;
  max-width: 500px;
  flex-wrap: wrap;

}
.video_details {
  display: flex;
  display: inline-flex;
  align-items: left;
  flex-wrap: wrap;
  padding-top:10px;
  gap: 12px;

  .items {
    align-items: left;
  }
}


