/* video details area */
.details {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
  max-width:1280px;
  margin: 0 auto;
  border: 1px solid orange;
}
.video_title_description {
  padding-top:10px;
  align-items: left;
  max-width:500px;
  flex-flow: wrap;

}
.video_details {
  display: flex;
  flex-flow: row nowrap;
  align-items: left;

  .items {
    align-items: left;
    padding-top:10px;
    padding-right:20px;
  }
}