/* video details area */

.scrollTabledDetailContainer {
  max-height: 400px;
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: auto contain;
}


.video_details_content tr {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.video_details_content td {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
