body{
  font:.8em normal Arial,sans-serif;
  color:#black;
}

h1{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2.5em;
  margin:20px 0;
}

.container{
  width:90%;
  margin:auto;
}

table{
  border-collapse:collapse;
  width:80%;
}

thead{
  color:black;
  border: 1px solid #e6e6e6;
}

th,td{
  text-align:center;
  padding:5px 0;
}

tbody tr:nth-child(even){
  background:#f2f2f2;
}

tbody tr:hover{
background:#2465D9;
  color:#FFFFFF;
}


.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:inline-block;
  border:none;
}


.up{
  cursor:pointer;
}

.filter_table {
 float:left;
  width:20%;
}
