/* resposive iframe */
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

/* Grid Layout */
.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(50px, auto);

}
.one {
  grid-column: 2 / 7;
  grid-row: 1;
}
.two {
  grid-column: 2 / 7;
  grid-row: 2 / 8;
}
.three {
  grid-column: 2 / 7;
  grid-row: 12 / 22;
}
.four {
  grid-column: 2 / 3;
  grid-row: 8 / 12;
}
.five {
  grid-column: 3 / 4;
  grid-row: 8 / 12;
}
.six {
  grid-column: 4 / 5;
  grid-row: 8 / 12;
}
.seven {
  grid-column: 5 / 6;
  grid-row: 8 / 12;
}
.eight {
  grid-column: 6 / 7;
  grid-row: 8 / 12;
}

/* grid layout alternating background colors */
/*
.wrapper > div{
  background:#eee;
  padding:1em
}
.wrapper > div:nth-child(odd){
  background:#ddd;
}
*/


/* Body */
body{
  font:.8em normal Arial,sans-serif;
  color:black;
}

/* Heading */
h1{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2.5em;
  margin:20px 0;
}

/* main_table */
.main_table{
  width: 100%;
  border-collapse:collapse;
}

/* main_table header */
.main_table thead{
  display: table;
	overflow: auto;
	width: 100%
}

.main_table thead tr{
}

.main_table tbody{
  display: block;
  	height: 350px;
  	overflow: auto;
  	width: 100%;
}
.main_table tbody tr{

}

/* Column Item */
.main_table tbody td{
  text-align:left;
  padding:5px 0;
}

/* Alternating Background */
.main_table tbody tr:nth-child(odd){
  background:#f2f2f2;
}
/* Hover Over */
.main_table tbody tr:hover{
background:#2465D9;
  color:#FFFFFF;
}

/*
.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:block;
  border:none;
}
*/

/* Keep Pointer on hover */
.up{
  cursor:pointer;
}

.filter_table {
  width:100%;
  display:block;
  border-collapse:collapse;
  overflow:auto;
  height:200px;
  border: 1px solid #f2f2f2;
}

/* main_table header */
.fi_table thead{
  color:black;
  border: 1px solid #e6e6e6;
}

.filter_table th{
  text-align:center;
  position: sticky;
  top:0;
  padding:5px 0;
  background:white;
}

/* Column Item */
.filter_table td{
  text-align:left;
}

/* Hover Over */
.filter_table tbody tr:hover{
background:#2465D9;
  color:#FFFFFF;
}
