.video-edit-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 420px;
}
.video-edit-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: .2rem;
  width: 350px;
  padding: 1rem;
}

.edit-video-form {
 display: flex;
 flex-direction: column;
 width: 50%;
 margin: 0 auto;
}

.attribute-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.attribute-label {
  flex: 1;
}

.attribute-value {
  flex: 1;
}

#leader,
#follower,
#song,
#event {
  width: 100%;
}
