.videos-new-container {
  display: flex;
  flex: 1;
  margin-top: 128px;
  justify-content: center;
}

.videos-new-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;

  input {
    margin: auto 0.5rem;
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 0.2rem;
    font-size: 1rem;
    background: white;
    cursor: pointer;

    &:hover {
      background: #f9f9f9;
    }

    &:active {
      background: #f2f2f2;
    }
  }

  form {
    display: flex;
  }
}
