<footer class="footer">
    TangoTubeTV App | Powered by Youtube API
  <nav class="footer-nav">
    <ul class="footer-nav">
      <li class="footer-nav"><%= link_to "Privacy Policy", privacy_path   %></li>
      <li class="footer-nav"><%= link_to "Terms of Service", terms_path%></li>
      <li class="footer-nav"><a href="http://www.google.com/policies/privacy">G​oogle Privacy Policy</a></li>
    </ul>
  </nav>
</footer>
