<footer class="footer">
  <div class="footerTitle">
    TangoTubeTV App | Powered by Youtube API
  </div>
  <nav class="footer-nav">
    <ul>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
      <li><%= link_to "Terms of Service", terms_path %></li>
      <li><a href="http://www.google.com/policies/privacy">G​oogle Privacy Policy</a></li>
    </ul>
  </nav>
</footer>
