 <div class="static-pages-nav">
  <%= link_to 'Home', root_path %>
  <%= link_to 'About', about_path %>
</div>
<div class="header-search-container">
  <%= link_to "TangoTube", root_path, id: "logoContainer", title:"logo", alt:"site-logo" %>


</div>
